* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Raleway', sans-serif;
      
      font-size: 21px;
      width: 100%;
      
    }
  
    #navbar {
      width: 100%;
      height: 70px;
      background-color: #4f5d54;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    .pnav {
      padding-right: 2em;
    }
  
    .nav-link {
      text-decoration: none;
      color: white;
      font-weight: 500;
    }
  
    #welcome-section {
      padding-top: 70px;
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        180deg,
        #73774a,
        linen
      );
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
    }
   .dwelcome {
     height: 200px;
     width: 50%;
     margin-left: auto ;
     margin-right: auto;
     text-align: center;
   }
   .hwelcome {
     font-size: 3em;
     font-weight: 500;
   }
  
   .pwelcome {
     font-style: italic;
   }
  
   #projects {
     width: 100%; 
     background: linear-gradient(
        180deg,
        linen,
        #7c7c7c
        
      );
   }
  
   #hp {
     text-align: center;
     padding-top: 1em;
     padding-bottom: 2em;
     font-weight: 550;
   }
  
  #general {
    width: 80%;
    margin-left: auto ;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 3em;
  }
   
   .project-tile {
     height: 300px;
     width: 450px; 
     overflow: hidden;
     
   }
  
   img {
     width: 100%;
     height: 85%;
     border-radius: 6px;
     
   }
  
  .pbox {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.3em;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #contact {
    width: 100%;
    background-color:#383838;
  }
  
  #hc {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    padding-top: 2em;
    padding-bottom: 1em;
    color: linen;
  
  }
  
  #boxc {
    width: 70%;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .acontact {
    color: linen;
    font-size: 1.5em;
    font-weight: 400;
    
  }
   
   #hr {
     width: 100%;
     height: 6px;
     background-color: #4f5d54;
     
   }
  
   #end {
     color: linen;
     text-align: center;
     padding-top: 1.5em;
     padding-bottom: 1.5em;
   }
  
   @media (max-width: 700px) {
     body {
       font-size: 18px;
     }
   }